.project
.settings
*.csproj
*.csproj.user
*.build
*.mdb
*.mdp
*.mds
*.bat
*.pdb
*.pidb
*.dll.build
*.dll
*.sln
*.cache
*.FileListAbsolute.txt
*.suo
*.dump.txt
data

obj

# we make bin no-add primarily
# however, if needed we can force an addition by using git add -f
bin
