<configuration>
  <dllmap os="windows" cpu="x86" dll="openjp2" target="platform-libs/windows/32/openjp2" />
  <dllmap os="windows" cpu="x86-64" dll="openjp2" target="platform-libs/windows/64/openjp2" />
  <dllmap os="osx" cpu="x86" dll="openjp2" target="platform-libs/macosx/32/openjp2.dylib" />
  <dllmap os="osx" cpu="x86-64" dll="openjp2" target="platform-libs/macosx/64/openjp2.dylib" />
  <dllmap os="linux" cpu="x86" dll="openjp2" target="platform-libs/linux/32/openjp2.so" />
  <dllmap os="linux" cpu="x86-64" dll="openjp2" target="platform-libs/linux/64/openjp2.so" />
</configuration>
